<!--=================================
 breadcrumbs and inner-intro -->

 <app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

 <!--=================================
  breadcrumbs and inner-intro -->

<section id="bs-pricing-five" class="bs-pricing-five p-top-100 bg-white">
        <div class="container">
            <div class="row">

                    <h6 class="expired_text">Your dealership plan has been expired. Please choose from the below plans to be able to use the dashboard again.</h6>

               <div class="col-md-8 mx-auto">
                <div class="bs-five-area bs-radius row justify-content-center">             
     
            
                    <div class="col-md-6 no-padding">
                        <div class="bs-five active">
                            <h6 class="text-capitalize">Dealership 295</h6>
                            <h1 class="bs-caption"><sup>$</sup>295</h1>
                            <p>Lorem Ipsum is simply dummy text</p>
    
                            <ul>
                                <li><b>Lorem Ipsum is simply dummy text</b></li>
                                <li>Lorem Ipsum is simply dummy text</li>
                                <li>Lorem Ipsum is simply dummy text</li>
                                <li>Lorem Ipsum is simply dummy text</li>
                            </ul>
                            <a href="javascript:void(0)" class="button red" routerLink="/dealer/purchase-dealership/{{getDealerId}}">Upgrade Plan </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

 
 
  