<div id="cancelBidModal" #deactivateModal  class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header rejection_header">
        <h5 class="modal-title text_cap">Deactivate Car</h5>
        <button type="button" (click)="cancelSubmit()" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p class="text_for" for="reason">Give your reason why do you want to deactivate this car:</p>
          <textarea class="form-control" name="reason" [(ngModel)]="deactivateReason" rows="5" id="reason"></textarea>
        </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="button red" (click)="submit()">Submit</button>
        <button type="button " class="btn back_btn" (click)="cancelSubmit()">Cancel</button>
      </div>
    </div>

  </div>
</div>