<!--=================================
 breadcrumbs and inner-intro -->

<app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

<!--=================================
 breadcrumbs and inner-intro -->



<!--=================================
 error -->

<section class="error-page page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-content text-center">
          <h2>404</h2>
          <img class="img-fluid center-block" src="assets/images/car/23.png" alt="">
          <h3 class="text-red">Ooopps:( </h3>
          <strong class="text-black"> The Page you were looking for, couldn't be found</strong>
          <p>Can't find what you looking for? Take a moment and do a search below or start from our <a routerLink="/web">
              Home Page </a></p>
        </div>      
      </div>
    </div>
  </div>
</section>

<!--=================================
   error -->