<!--=================================
 breadcrumbs and inner-intro -->

 <app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

 <!--=================================
  breadcrumbs and inner-intro -->
 
 
 <!--=================================
  change-password-form  -->
 
<section class="login-form page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <!-- <h2>Change Password</h2>
          <div class="separator"></div> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="gray-form clearfix">

           
            <div class="form-group">
              <label for="oldPassword">Old Password* </label>
              <input id="oldPassword" class="form-control" type="password" placeholder="Enter Old Password" formControlName="previous_password"
                [ngClass]="{ 'is-invalid': (changePasswordForm.controls.password.touched || submitted) && changePasswordForm.get('previous_password').errors }">
              <p *ngIf="changePasswordForm.controls.previous_password.touched || submitted">
                <app-form-validation-errors errorPrefix="Old Password " [errors]="changePasswordForm.get('previous_password').errors"></app-form-validation-errors>
              </p>

            </div>

            <div class="form-group">
              <label>New Password* </label>
              <input [ngClass]="{ 'is-invalid': (changePasswordForm.controls.password.touched || submitted) && changePasswordForm.get('password').errors }"
                class="form-control" type="password" placeholder="Password" formControlName="password">
              <p *ngIf="changePasswordForm.controls.password.touched || submitted">
                <app-form-validation-errors minLength=10 maxLength=50 errorPrefix="New Password" [errors]="changePasswordForm.get('password').errors"></app-form-validation-errors>
              </p>
            </div>

            <div class="form-group">
              <label>Re-enter New Password*</label>
              <input [ngClass]="{ 'is-invalid': (changePasswordForm.controls.repassword.touched || submitted) && changePasswordForm.get('repassword').errors }"
                class="form-control" type="password" placeholder="Confirm Password" formControlName="repassword">
              <p *ngIf="changePasswordForm.controls.repassword.touched || submitted">
                <app-form-validation-errors minLength=10 maxLength=50 errorPrefix="Confirm New password" [errors]="changePasswordForm.get('repassword').errors"></app-form-validation-errors>
              </p>
            </div>

            <button [ngClass]="{ 'submit-btn-disable': !changePasswordForm.valid }" type="submit" class="button red">Change Password
            </button>

          </div>
        </form>       
      </div>
    </div>
  </div>
</section>

<!--=================================
confirm otp-form  -->




<!--=================================
 change-password-otp-form  -->
<!-- Modal -->
<!--
<div class="modal fade" #otpSection id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm account: Verify OTP</h5>
       
      </div>
      <form [formGroup]="otpVerificationForm" (ngSubmit)="onSubmitOtp()">
        <div class="modal-body">            
            <div class="form-group">
              
              <div class="form-group">
                  <label>OTP Code* </label>
                  <input [ngClass]="{ 'is-invalid': (otpVerificationForm.controls.ConfirmationCode.touched || otpFormsubmitted) && otpVerificationForm.get('ConfirmationCode').errors }"
                    class="form-control" mask="000000" type="text" placeholder="OTP Code" formControlName="ConfirmationCode">
                    <button  type="button" (click)="resendOTP()" class="verify_BTN"> Resend</button>
                  <p *ngIf="otpVerificationForm.controls.ConfirmationCode.touched || otpFormsubmitted">
                    <app-form-validation-errors minLength=6 maxLength=6 errorPrefix="OTP Code " [errors]="otpVerificationForm.get('ConfirmationCode').errors"></app-form-validation-errors>
                  </p>
              </div>                           
            </div>              
        </div>  
        <div class="modal-footer">            
          <button [ngClass]="{ 'submit-btn-disable': otpVerificationForm.invalid }" type="submit" class="button red">Verify </button>
        </div>
      </form>  
    </div>
  </div>
</div>
-->
<!--=================================
confirm otp-form  -->