<!--=================================
 breadcrumbs and inner-intro -->

 <app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

 <!--=================================
  breadcrumbs and inner-intro -->
 
	<section class="testimonial-1 white-bg page page-section-ptb">
    <div class="thankyou_col">
      <div class="thankyou_text">Thank you</div>
      <div class="thankyou_tagline">Thank you for subscribing to CarsGoat's newsletter. You will now know about new releases, givealways & special offers. Stay tuned.	</div>
      <a routerLink="/web" class="continue_btn">Continue</a>
		</div>
</section>
