<!--=================================
  register-form  -->
<section class="register-form page-section-ptb pt-4">
  <div class="container">

    <div class="row ">
      <div class="col-md-8 mx-auto">
        <div class="verify_box ">
          <div class="verify_inner">
            <div class="section-title mb-0">
              <img src="/assets/images/imgpsh_fullsize_anim.png" />
              <h2>Verify It's You</h2>
              <div class="separator"></div>
              <h6>We take online security seriously. To protect your CarsGoat Account and identity, you must first verify your email address!</h6>

              <p>Would you like to us to send you an email to verify your email address now?  <a (click)="reSendVerificationLink()"
                  class="Resend_verification_link">Resend me the verification link now. </a></p>
                  <p> <a class="button red" routerLink="/dealer/login">Sign In </a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<!-- =================================
      signup-otp-form  -->
