<!--=================================
 footer -->
<footer class="footer footer-white bg-overlay-white-90">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="social">
          <ul>
            <li><a target="_blank" class="facebook text_cap" href="https://www.facebook.com/carsgoat">facebook <i
                  class="fa fa-facebook"></i> </a></li>
            <li><a target="_blank" class="twitter text_cap" href="https://twitter.com/cars_goat" text_cap>twitter <i
                  class="fa fa-twitter"></i> </a></li>
            <li><a target="_blank" class="pinterest text_cap" href="https://www.instagram.com/carsgoat">Instagram <i
                  class="fa fa-instagram"></i> </a></li>
            <li><a target="_blank" class="pinterest text_cap" href="http://linkedin.com/company/carsgoat">LinkedIn <i
                  class="fa fa-linkedin"></i> </a></li>
            <li><a target="_blank" class="pinterest text_cap"
                href="https://www.youtube.com/channel/UCSlbBz0gWpul-ISwRteZZ2w">YouTube <i class="fa fa-youtube"></i>
              </a></li>
            <li><a target="_blank" class="pinterest text_cap" href="https://www.pinterest.com/carsgoat">Pinterest <i
                class="fa fa-pinterest"></i> </a></li>
            <li><a target="_blank" class="pinterest text_cap" href="https://www.snapchat.com/add/carsgoat">Snapchat <i
                  class="fa fa-snapchat"></i> </a></li>
            
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about-content">
          <img class="img-fluid" id="logo-footer" src="assets/images/applogo.png" alt="">
          <p>We provide everything you need to build an amazing dealership website developed especially for car sellers
            dealers or auto motor retailers.</p>
        </div>
        <div class="address">
          <ul>
            <li> <a target='_blank'
                href="https://www.google.com/maps/dir//33.6216376,-117.7025604/@33.621638,-117.70256,13z?hl=en-GB"><i
                  class="fa fa-map-marker"></i><span>24552 Raymond Way, #1178, CA 92609, USA</span> </a></li>
            <li> <a href="tel:+0071234567890"><i class="fa fa-phone"></i><span>(800) 793-1919</span> </a></li>
            <li> <a href="mailto:info@carsgoat.com"><i class="fa fa-envelope-o"></i><span>info@carsgoat.com</span></a>
            </li>
          </ul>
        </div>
      </div>
      <!--<div class="col-lg-3 col-md-6">
        <div class="usefull-link">
        <h6 class="text_cap">Useful Links</h6>
          <ul>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Change Oil and Filter</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Brake Pads Replacement</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Timing Belt Replacement</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Pre-purchase Car Inspection</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> Starter Replacement</a></li>
          </ul>
        </div> 
      </div>-->
      <!--<div class="col-lg-3 col-md-6">
       <div class="recent-post-block">
        <h6 class="text_cap">recent posts </h6>
          <div class="recent-post">
            <div class="recent-post-image">
              <img class="img-fluid" src="assets/images/car/01.jpg" alt=""> 
            </div>
            <div class="recent-post-info">
                <a href="#">Time to change your </a>
                <span class="post-date"><i class="fa fa-calendar"></i>September 10, 2017</span>
            </div>
         </div>
         <div class="recent-post">
            <div class="recent-post-image">
              <img class="img-fluid" src="assets/images/car/02.jpg" alt=""> 
            </div>
            <div class="recent-post-info">
                <a href="#">The best time to </a>
                <span class="post-date"><i class="fa fa-calendar"></i>September 10, 2017</span>
            </div>
         </div>
         <div class="recent-post">
            <div class="recent-post-image">
              <img class="img-fluid" src="assets/images/car/03.jpg" alt=""> 
            </div>
            <div class="recent-post-info">
                <a href="#">Replacing a timing </a>
                <span class="post-date"><i class="fa fa-calendar"></i>September 10, 2017</span>
            </div>
         </div>
       </div>
      </div>-->
      <div class="col-lg-6 col-md-6">
        <div class="news-letter">
          <h6 class="text_cap">Subscribe Our Newsletter </h6>
          <p>Keep up on our always evolving products features and technology. Enter your e-mail and subscribe to our
            newsletter.</p>


          <!--Zoho Campaigns Web-Optin Form's Header Code Ends Here-->
          <!--Zoho Campaigns Web-Optin Form Starts Here-->
          <style>
            @media screen and (max-width:767px) {
              #SIGNUP_BODY {
                width: 100% !important;
              }

            }
          </style>
          <div id="sfd067a375acdcfea39f270195f88464a922dc2d681fc9375f" data-type="signupform">
            <div id="customForm">
              <input type="hidden" id="signupFormType" value="QuickForm_Vertical">
              <div>
                <table class="quick_form_1_css" border="0" cellspacing="0" cellpadding="0" align="center"
                  name="SIGNUP_BODY" id="SIGNUP_BODY"
                  style="color: rgb(68, 68, 68); margin: 0px auto;  max-width:100%;padding: 0px; bottom: 2px; width: 555px; font-size: 11px; font-family: Arial; text-align: center;">
                  <tbody>
                    <tr>
                      <td align="center" valign="top">
                        <div>
                          <div style="position:relative;">
                            <div id="Zc_SignupSuccess"
                              style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all">
                              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                  <tr>
                                    <td width="10%">
                                      <img class="successicon"
                                        src="https://sgot.maillist-manage.com/images/challangeiconenable.jpg"
                                        align="absmiddle">
                                    </td>
                                    <td>
                                      <span id="signupSuccessMsg"
                                        style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank
                                        you for Signing Up</span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <form class="news-letter" method="POST" id="zcampaignOptinForm" style="margin:0px;"
                            action="https://sgot.maillist-manage.com/weboptin.zc" target="_zcSignup">

                            <!-- check to mark emailid field as type email, and other mandatory fields as type required -->
                            <div style="margin-top:35px;text-align:left; position: relative;">
                              <input [required]=false name="CONTACT_EMAIL" changetype="CONTACT_EMAIL"
                                changeitem="SIGNUP_FORM_FIELD" type="email" required="true" id="CONTACT_EMAIL"
                                style="background: #f6f6f6 !important;font-size: 14px;border-radius: 0;box-shadow:none; height: 50px;line-height: 1.33333;padding: 12px 18px;background: transparent;color: #626262; max-width:400px; width:100%; border:0;"
                                placeholder="Enter your Email">
                              <span style="display:none" id="dt_CONTACT_EMAIL">1,true,6,Contact Email,2</span>
                              <div style="display:none;color:red; position:absolute; left:0px; bottom:-25px;"
                                id="errorMsgDiv">Please enter your email address.</div>
                            </div>
                            <!-- check to mark emailid field as type email, and other mandatory fields as type required -->


                            <button name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin"
                              style="background-color: #db2d2e;
                      color: rgb(255, 255, 255); cursor: pointer; border-radius: 0px;border: 1px solid #db2d2e;
                      font-family: Arial, Helvetica, sans-serif;-webkit-appearance: none;font-size: 12px; padding: 6px 20px; margin-top:25px; text-align: center; float:left;">Subscribe</button>
                            <!-- Do not edit the below Zoho Campaigns hidden tags -->
                            <input type="hidden" id="fieldBorder" value="rgb(235, 235, 235)">
                            <input type="hidden" id="submitType" name="submitType" value="optinCustomView">
                            <input type="hidden" id="lD" name="lD" value="181b317f6afad063">
                            <input type="hidden" name="emailReportId" id="emailReportId" value="">
                            <input type="hidden" id="formType" name="formType" value="QuickForm">
                            <input type="hidden" name="zx" id="cmpZuid" value="129601492">
                            <input type="hidden" name="zcvers" value="3.0">
                            <input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
                            <input type="hidden" id="mode" name="mode" value="OptinCreateView">
                            <input type="hidden" id="zcld" name="zcld" value="181b317f6afad063">
                            <input type="hidden" id="document_domain" value="campaigns.zoho.com">
                            <input type="hidden" id="zc_Url" value="sgot.maillist-manage.com">
                            <input type="hidden" id="new_optin_response_in" value="2">
                            <input type="hidden" id="duplicate_optin_response_in" value="2">
                            <input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW" onload="">
                            <input type="hidden" id="zc_formIx" name="zc_formIx"
                              value="d067a375acdcfea39f270195f88464a922dc2d681fc9375f">
                            <!-- End of the campaigns hidden tags -->
                          </form>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <img src="https://sgot.maillist-manage.com/images/spacer.gif" id="refImage" onload="referenceSetter(this)"
                style="display:none;">
            </div>
          </div>
          <div id="zcOptinOverLay" oncontextmenu="return false"
            style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;">
          </div>
          <div id="zcOptinSuccessPopup"
            style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
            <span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
              <img src="https://sgot.maillist-manage.com/images/videoclose.png">
            </span>
            <div id="zcOptinSuccessPanel"></div>
          </div>
          <!--Zoho Campaigns Web-Optin Form Ends Here-->
        </div>
      </div>
    </div>
    <hr />
    <!--<div class="row">
      <div class="col-md-6">
        <div class="footer-box">
          <div class="box-content">
            <h6 class="text_cap">Are You Looking For A Car?</h6>
            <p>Search Our Inventory With Thousands Of Cars And More Cars Are Adding On Daily Basis</p>
          </div>
          <div class="box-link">
            <a class="button" href="#">read more</a>
          </div>
        </div>
     </div>
     <div class="col-md-6">
        <div class="footer-box">
          <div class="box-content">
            <h6 class="text_cap">Do You Want To Sell A Car?</h6>
            <p>Search Our Inventory With Thousands Of Cars And More Cars Are Adding On Daily Basis</p>
          </div>
          <div class="box-link">
            <a class="button" href="#">read more</a>
          </div>
        </div>
     </div> 
    </div>-->
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="text-lg-left text-center">
            <p>©Copyright 2019 <a href="http://beta.carsgoat.com/#" target="_blank">CarsGoat</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <ul class="list-inline text-lg-right text-center">
            <li><a [routerLink]="['/web/privacy-policy']">privacy policy </a> | </li>
            <li><a [routerLink]="['/web/user-agreement']">terms and conditions </a> |</li>
            <li><a [routerLink]="['/web/contact']">contact us </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--=================================
 footer -->

<!--=================================
 back to top -->

<div class="car-top">
  <span><img src="assets/images/car.png" alt=""></span>
</div>

<!--=================================
 back to top -->