.slider {
    position: static;   
}
.image_filter{
    z-index: 9999;
}
.img-thumbnail{
    max-width:50% !important;
}


/* Back Button CSS */
.back_BTN a {
    margin-bottom: 20px;
    color: #db2d2e;
    border: 1px solid red;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;


}
.back_BTN a:hover {
    background: #db2d2e;
    color: #fff!important;
}

.back_BTN {
    display: flex;
    flex-direction: row;
}
a.print_btn {
    width: 100% !important;
    padding: 0 15px;
    border: 1px solid #333 !important;
    color: #333 !important;
}
a.print_btn:hover{
    background:#333 !important;
    color:#fff !important;
}
i.fa.fa-print {
    margin-right: 12px;
}

a.car_status_btn img {
    width: 35%;
    
}
/* Back Button CSS */
.value div {
    display: inline-block;
    padding: 2px;
}