<!--=================================
 breadcrumbs and inner-intro -->

 <!-- <app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs> -->

 <!--=================================
  breadcrumbs and inner-intro -->
 
 
 
 <!--=================================
  register-form  -->
  <section  class="register-form page-section-ptb">
    <div class="container">
      <div class="row ">
        <div class="col-md-12">
         <div class="verify_box">
             <div class="section-title">
               <img src="../../../../assets/images/verify_icon.png"/>
               <div class="stage31-beautify">
               <h2  class="text-capitalize">
                 Thank You
                  <!-- Your email address has been verified. -->
                  <span>
                 </span>
                 </h2>
               <h2  class="text-capitalize">
                 <span>As a valued customer, you can look forward to the highest levels of service, security, and support. Please check your email and click on the provided link to complete your account registration. After you verified your email, <a class="sign_in_link" routerLink="/seller/login">click here </a> begin to Sign In to your account.
               </span>
                 </h2>
               </div>
               <!-- <div class="separator"></div> -->
             </div> 
         
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- =================================
   signup-otp-form  -->
  <!-- Modal -->

  
  
   <!--=================================
   confirm otp-form  -->