<div class="modal show" #contentSection id="moreBidForm"   tabindex="-1" role="dialog"
  aria-labelledby="moreBidForm">
  <div class="modal-dialog  mw-75 border-none  mx-auto" role="document">
    <div class="modal-content">

      <div class="modal-header bg-transparent pl-2">
        <h5 class="modal-title text_change" id="exampleModalLabel">Car Bid Listing</h5>
        <button  type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <div class="car-details">
          <div class="container">

            <div class="row">
              <div class="col-md-12">

                <div class="sidebar-widget">
                  <div class="unordered-lists table-responsive text-center">
                    <table class="table table-bordered-custom-modal table-striped table-image-set">
                      <thead class="thead-dark-custom-modal">
                        <tr>                        
                          <th></th>
                           <th *ngIf="carId?.type == 'accepted'">Dealership</th>
                          <!--<th>Legal Contact</th> -->
                          <th>Price</th>
                          <th>Buyer Rating</th>
                          <th>Applied On</th>      
                          <th>Action</th>                          
                        </tr>
                      </thead>
                      <tbody *ngIf="bids?.length <= 0">
                        <tr>
                          <td colspan="4" style="text-align:center">No records to display.</td>
                        </tr>
                      </tbody>

                      <tbody *ngIf="bids?.length>0">

                        <tr *ngFor="let bid of bids; let i = index">

                         
                          <td><div class="profile_img"><img  class="img-fluid" [src]="bid?.dealership[0]?.profilepic?bid?.dealership[0]?.profilepic:'assets/images/org.png'"/></div></td>
                           <td *ngIf="carId?.type == 'accepted'">{{ bid?.bid_acceptance =='won'? bid?.dealership[0]?.legalcoroporationname : ''}}</td>
                           <!---  <td>{{bid?.bid_acceptance =='won'? bid.legal_contact : '--------'}} </td> -->
                          <td>{{ bid?.bid_price | currency:'USD':true:'1.2-2'}}</td>             
                          <td>
                              <ng-template #tt let-fill="fill">
                                  <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                  </span>
                                </ng-template>
                              <ngb-rating [readonly]="true" title="({{bid?.dealer_rating_average}}/5)" [starTemplate]="tt" aria-labelledby="Rating & Review" [max]="5" [rate]="bid?.dealer_rating_average">
                                </ngb-rating>
                                <span class="rating-number"></span></td>
                          <td> {{ bid?.bid_date | date:'MM-dd-yyyy'}}</td>  
                          <td> <span class="accept_btn" *ngIf="bid?.bid_acceptance =='active'" (click)="acceptBid(bid)">Accept</span> 
                            <span class="raject_btn" *ngIf="bid?.bid_acceptance =='active'" (click)="rejectBid(bid?._id)"> Reject</span>
                            <span class="text_red" [ngClass]="{text_green:bid?.bid_acceptance =='won'}"  *ngIf="bid?.bid_acceptance !='active'" >{{bid?.bid_acceptance == 'rejected'?'Rejected':bid?.bid_acceptance}}</span></td>                         
                        </tr>

                      </tbody>
                    </table>
                
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="rejectBidModal" #rejectBidModal  class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header rejection_header">
        <h5 class="modal-title text_cap">Reject Bid</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="text_for" for="reason">Give your reason why do you want to reject this bid:</label>
          <textarea class="form-control" [(ngModel)]="rejectionReason" rows="5" id="reason"></textarea>
        </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="button red" (click)="submitRejection()">Submit</button>
        <button type="button " class="btn back_btn" (click)="cancelRejection()">Cancel</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade bd-example-modal-lg feedback-modal_rating" #nopaymentmethod id="searchNameModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog mw-55 border-none  mx-auto mx-bem-75" role="document">

  <div class="modal-content p-0">

    <div class="modal-header feedback-header_bg">
      <!-- <h5 class="modal-title text_cap" id="bidModal">Update Proxy Bid Price</h5> -->
      <h5 class="modal-title text_cap" id="bidModal">Alert</h5>
      <button type="button" class="close opac-1" (click)="cancelPaymentAdd()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

     <p class="membership_warning">You have not added any payment method yet and you will not be able to accept any bid, please add payment method now by <a (click)="cancelPaymentAdd()" routerLink="/seller/add-payment-method">clicking here</a> .</p>
    </div>
  </div>



</div>
</div>