<div class="modal fade bd-example-modal-lg feedback-modal_rating" #nopaymentmethod id="searchNameModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog mw-55 border-none  mx-auto mx-bem-75" role="document">

  <div class="modal-content p-0">

    <div class="modal-header feedback-header_bg">
      <!-- <h5 class="modal-title text_cap" id="bidModal">Update Proxy Bid Price</h5> -->
      <h5 class="modal-title text_cap" id="bidModal">Alert</h5>
      <button type="button" class="close opac-1" (click)="cancelPaymentAdd()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

     <p class="membership_warning">You have not added any payment method yet and you will not be able to place any bid, please add payment method now by <a (click)="cancelPaymentAdd()" routerLink="/dealer/add-payment-method">clicking here</a> .</p>
    </div>
  </div>



</div>
</div>